*{
    box-sizing: border-box;
    font-family: 'papyrus';
    font-variant: small-caps;
}

.mainContainer{
    background-image: linear-gradient(to bottom right, rgb(148, 50, 50), rgb(245, 194, 128));
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    overflow: auto;
}

.h1page0{
    color:rgb(14, 158, 38);
    text-align: right;
    margin-right: 5%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 60px;
}

.h2page0{
    color: rgb(70, 143, 233);
}

.h3page0{
  text-align: center;
  color: rgb(0, 81, 255);
}

.h1ts{
    color:rgb(158, 58, 14);
    position: relative;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 0;
    font-size: 60px;
}

.h2ts{
    text-align: center;
    color: orchid;
}

.h3ts{
    margin-top: 50px;
    margin-bottom: 0;
    margin-left: 38%;
}
    
.h1bible{
    text-align: center;
}

.h1nt{
    text-align: center;
}
.h1ot{
    margin: 40px 0;
    text-align: center;
}

#enterButton{
    border-width: 5px;
    border-radius: 10%;
    background-color:rgb(245, 194, 128) ;
    color:rgb(158, 58, 14);
    cursor: pointer;
    margin-left:47%;
}

#sharedNav{
    /* background-color: aqua; */
    width:400px;
    margin-left: 55px;
    /* margin-top: 75px; */
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    padding-top: 45px;
    /* padding-bottom: 5px; */
    /* border-radius: 5px; */
    /* position: relative; */
}

#sharedNav a {
    display: inline;
    color: #a82727;
    margin: 0px 10px;
    text-decoration: none;
    /* align-items: center;    */
    font-size: 25px;
    position: relative;
    /* justify-content: space-between; */
}

#sharedNav a:hover {
text-decoration: underline;
}

#trivia{
    text-align: center;
}
  
#oldtest{
    width: 300px;
}

#newtest{
    width: 300px;
}

#bible{
    width: 300px;
}

.h1scores{
    text-align: center;
}

.h2scores{
    margin-left: 250px;
    text-align: left;
}

#sharedNavBanner{
    width: 475px;
    height: 130px;
    position: absolute;
    margin: 0px;
}

.startButton{
    margin: 0 auto;
}

.startButtonWrapper{
    width: 100%;
    margin: 40px 0;
    margin-left: 47%;
}


.pageNavWrapper{
    position: relative;
    width: 100%;
    margin: 0 25px;
}

.pageNavTitle{
    position: absolute;
    bottom: 5%;
    left: 50%;
    color: rgb(41, 196, 90);
    text-decoration: none;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.4);
    width: 300px;
}