*{
    box-sizing: border-box;
    font-family: 'papyrus';
    font-variant: small-caps;
}

.mainContainer{
    background-image: linear-gradient(to bottom right, rgb(148, 50, 50), rgb(245, 194, 128));
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    overflow: auto;
}

.h1page0{
    color:rgb(14, 158, 38);
    text-align: right;
    margin-right: 5%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 60px;
}

.h2page0{
    color: rgb(70, 143, 233);
}

.h3page0{
  text-align: center;
  color: rgb(0, 81, 255);
}

.h1ts{
    color:rgb(158, 58, 14);
    position: relative;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 0;
    font-size: 60px;
}

.h2ts{
    text-align: center;
    color: orchid;
}

.h3ts{
    margin-top: 50px;
    margin-bottom: 0;
    margin-left: 38%;
}
    
.h1bible{
    text-align: center;
}

.h1nt{
    text-align: center;
}


#enterButton{
    border-width: 5px;
    border-radius: 10%;
    background-color:rgb(245, 194, 128) ;
    color:rgb(158, 58, 14);
    cursor: pointer;
    margin-left:47%;
}

#sharedNav{
    /* background-color: aqua; */
    width:400px;
    margin-left: 55px;
    /* margin-top: 75px; */
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    padding-top: 45px;
    /* padding-bottom: 5px; */
    /* border-radius: 5px; */
    /* position: relative; */
}

#sharedNav a {
    display: inline;
    color: #a82727;
    margin: 0px 10px;
    text-decoration: none;
    /* align-items: center;    */
    font-size: 25px;
    position: relative;
    /* justify-content: space-between; */
}

#sharedNav a:hover {
text-decoration: underline;
}

#trivia{
    text-align: center;
}
  
#oldtest{
    width: 300px;
    border-radius: 10px;
}

#newtest{
    width: 300px;
    border-radius: 10px;
}

#bible{
    width: 300px;
    border-radius: 10px;
}

.h1scores{
    text-align: center;
}

.h2scores{
    margin-left: 250px;
    text-align: left;
}

#sharedNavBanner{
    width: 475px;
    height: 130px;
    position: absolute;
    margin: 0px;
}

.pageNavWrapper{
    position: relative;
    width: 100%;
    margin: 0 25px;
}

.pageNavTitle{
    position: absolute;
    bottom: 150%;
    left: 50%;
    color: rgb(0, 255, 60);
    text-decoration: none;
    transform: translate(-50%, -50%);
    /* background-color: rgba(0,0,0,0.4); */
    width: 300px;
    font-size: 35px;
    /* font: bold; */
    /* font-style: oblique; */
    /* font-weight: 500; */
    /* border-radius: 10px; */
}

/* .answerButton{
    margin-left: 47%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
} */

.startingOTPage{
    width: 100%;
    /* margin-bottom: -25%; */
}

.cloudWrapper{
    width: 70%;
    height: 70%;
    max-width: 1000px;
    max-height: 900px;
    margin: 10% 15%;
    /* position: relative; */
    /* margin-left: 18%; */
}

.haloWrapper{
    position: absolute;
    width: 40%;
    /* margin-top: -100%; */
    margin-left: 33%;
    margin-top: 5%;
}

.haloOldTitleWrapper{
    
}

.h1ot{
    text-align: center;
    justify-content: center;
    margin: 18% 37%;
    position:absolute;
    font-size: 50px;
    width: 29%;
    line-height: 70%;
}

.startButtonWrapper{
    margin-left: 35%;
    margin-top: -30%;
    height: 300px;
}

.startButton{
    margin-left: 10%;
    width: 30%;
    height: 20%;
  
}

/* .image-blurred-edge {
    background-image: url('http://lorempixel.com/200/200/city/9');
    width: 70%;
    /* height: 70%; */
    max-width: 1000px;
    /* max-height: 900px; */
    margin-left: 15%;
    margin-top: -50%;
    position: relative;
    box-shadow: 0 0 8px 8px rgb(79, 47, 47) inset;
} */


.startingNTPage{
    width: 100%;
    /* margin-bottom: -25%; */
}

.tombWrapper{
    width: 70%;
    height: 70%;
    max-width: 1000px;
    max-height: 900px;
    margin: 10% 15%;
    /* position: relative; */
    /* margin-left: 18%; */
}

.haloWrapper{
    position: absolute;
    width: 40%;
    /* margin-top: -100%; */
    margin-left: 33%;
    margin-top: 5%;
}

.haloTitleWrapper{
    margin-left: 15%;
}

.h1nt{
    text-align: center;
    justify-content: center;
    margin: 18% 37%;
    position:absolute;
    font-size: 50px;
    width: 29%;
    line-height: 70%;
}